In [31]:
import pandas as pd
import numpy as np
import re

In [32]:
path = './save_csv/'

lsts = []

for i in range(1, 13):
    lst = pd.read_csv(f'{path}river_behind{i}.csv')
    lsts.append(lst)

In [33]:
data = lsts[0]

for i in range(1, 12):
    data = pd.concat([data,lsts[i]])

data

,restaurant,tag,url,review
0,텍사스데브라질 압구정점,"스테이크,립",https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.34리뷰 999+TV생방송투데이
1,미뉴트 빠삐용,"카페,디저트",https://map.naver.com/v5/search/%EA%B0%95%EB%8...,영업 전리뷰 267서울 강남구 신사동
2,까폼,태국음식,https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.51리뷰 999+TV맛있는녀석들
3,노티드 청담,카페,https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.44리뷰 999+TV전지적참견시점
4,뱃고동,낙지요리,https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.28리뷰 999+TV식객허영만의백반기행
...,...,...,...,...
295,13애비뉴,이탈리아음식,https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.19리뷰 196
296,항아리닭갈비막국수 송파문정점,닭갈비,https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.29리뷰 545
297,호식당,일식당,https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.56리뷰 613
298,도토리편백집 가든파이브점,돼지고기구이,https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.29리뷰 325
299,쌈마을촌밥,쌈밥,https://map.naver.com/v5/search/%EA%B0%95%EB%8...,4.42리뷰 413

In [34]:
data['url']= data['url'].apply(lambda x: re.findall(r'/[0-9]+', x)[0][1:])
data['review'] = data['review'].apply(lambda x: re.findall(r'[\d{1.2}]+', x))
data['len'] = data['review'].apply(lambda x : len(x))
data = data[data['len'] > 0]
data['rating'] = data['review'].apply(lambda x: x[0] if len(x) == 2 else np.nan)
data['count'] = data['review'].apply(lambda x: x[1] if len(x) == 2 else x[0])
data

/tmp/ipykernel_97649/621900734.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['rating'] = data['review'].apply(lambda x: x[0] if len(x) == 2 else np.nan)
/tmp/ipykernel_97649/621900734.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['count'] = data['review'].apply(lambda x: x[1] if len(x) == 2 else x[0])

          restaurant     tag         url       review  len rating count
0       텍사스데브라질 압구정점  스테이크,립  1675303081  [4.34, 999]    2   4.34   999
1            미뉴트 빠삐용  카페,디저트  1867823297        [267]    1    NaN   267
2                 까폼    태국음식    38969614  [4.51, 999]    2   4.51   999
3             노티드 청담      카페   895457986  [4.44, 999]    2   4.44   999
4                뱃고동    낙지요리    11700226  [4.28, 999]    2   4.28   999
..               ...     ...         ...          ...  ...    ...   ...
295            13애비뉴  이탈리아음식    37163985  [4.19, 196]    2   4.19   196
296  항아리닭갈비막국수 송파문정점     닭갈비  1765877732  [4.29, 545]    2   4.29   545
297              호식당     일식당  1822195439  [4.56, 613]    2   4.56   613
298    도토리편백집 가든파이브점  돼지고기구이  1647304733  [4.29, 325]    2   4.29   325
299            쌈마을촌밥      쌈밥    21134998  [4.42, 413]    2   4.42   413

[3576 rows x 7 columns]

In [45]:
data['count'] = data['count'].astype('float')
data['count']

/tmp/ipykernel_97649/609209220.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['count'] = data['count'].astype('float')

0      999.0
1      267.0
2      999.0
3      999.0
4      999.0
       ...
295    196.0
296    545.0
297    613.0
298    325.0
299    413.0
Name: count, Length: 3576, dtype: float64

In [47]:
data = data.drop_duplicates('url') # restaurant

In [48]:
data

          restaurant     tag         url       review  len rating  count
0       텍사스데브라질 압구정점  스테이크,립  1675303081  [4.34, 999]    2   4.34  999.0
1            미뉴트 빠삐용  카페,디저트  1867823297        [267]    1    NaN  267.0
2                 까폼    태국음식    38969614  [4.51, 999]    2   4.51  999.0
3             노티드 청담      카페   895457986  [4.44, 999]    2   4.44  999.0
4                뱃고동    낙지요리    11700226  [4.28, 999]    2   4.28  999.0
..               ...     ...         ...          ...  ...    ...    ...
295            13애비뉴  이탈리아음식    37163985  [4.19, 196]    2   4.19  196.0
296  항아리닭갈비막국수 송파문정점     닭갈비  1765877732  [4.29, 545]    2   4.29  545.0
297              호식당     일식당  1822195439  [4.56, 613]    2   4.56  613.0
298    도토리편백집 가든파이브점  돼지고기구이  1647304733  [4.29, 325]    2   4.29  325.0
299            쌈마을촌밥      쌈밥    21134998  [4.42, 413]    2   4.42  413.0

[3263 rows x 7 columns]

In [52]:
data = data[data['count'] >= 10]
data

          restaurant     tag         url       review  len rating  count
0       텍사스데브라질 압구정점  스테이크,립  1675303081  [4.34, 999]    2   4.34  999.0
1            미뉴트 빠삐용  카페,디저트  1867823297        [267]    1    NaN  267.0
2                 까폼    태국음식    38969614  [4.51, 999]    2   4.51  999.0
3             노티드 청담      카페   895457986  [4.44, 999]    2   4.44  999.0
4                뱃고동    낙지요리    11700226  [4.28, 999]    2   4.28  999.0
..               ...     ...         ...          ...  ...    ...    ...
295            13애비뉴  이탈리아음식    37163985  [4.19, 196]    2   4.19  196.0
296  항아리닭갈비막국수 송파문정점     닭갈비  1765877732  [4.29, 545]    2   4.29  545.0
297              호식당     일식당  1822195439  [4.56, 613]    2   4.56  613.0
298    도토리편백집 가든파이브점  돼지고기구이  1647304733  [4.29, 325]    2   4.29  325.0
299            쌈마을촌밥      쌈밥    21134998  [4.42, 413]    2   4.42  413.0

[3071 rows x 7 columns]

In [ ]:
data.to_csv('./save_csv/river_behind_concat.csv', index=False)

In [36]:
data

['1675303081',
 '1867823297',
 '38969614',
 '895457986',
 '11700226',
 '35751409',
 '1744213648',
 '65729586',
 '21418931',
 '1432373629',
 '1103092572',
 '1044096368',
 '1967647240',
 '1345715158',
 '33972716',
 '887123043',
 '21693586',
 '1865631399',
 '13154695',
 '1867302217',
 '1616921844',
 '32548015',
 '1301235554',
 '38328122',
 '1030343098',
 '1006750348',
 '1790431579',
 '1640488466',
 '1653280910',
 '1297585187',
 '1832771562',
 '148179327',
 '11724463',
 '1255909485',
 '36963396',
 '13574087',
 '1067286803',
 '354614937',
 '1529976454',
 '1123489755',
 '1600727618',
 '1672413996',
 '1122254586',
 '35734492',
 '1573951163',
 '1570607237',
 '1720070048',
 '1165131753',
 '1975463492',
 '1582956498',
 '1222395691',
 '1772605537',
 '1001519803',
 '1946248827',
 '1614953667',
 '1114077752',
 '13358436',
 '1389565722',
 '1259933590',
 '34786487',
 '1870183298',
 '1135036261',
 '20384015',
 '1191020917',
 '38767161',
 '996334906',
 '11886505',
 '1067440345',
 '1343969288',
 '1400123055',
 '21037800',
 '1348101379',
 '1846214116',
 '1850375355',
 '1880997916',
 '1203337621',
 '36175042',
 '1111503809',
 '18485132',
 '1773013473',
 '1555782691',
 '1417591954',
 '83612604',
 '1873514629',
 '1099331965',
 '1797169863',
 '1771823300',
 '1230915639',
 '31363816',
 '1886342920',
 '1732344388',
 '1438978661',
 '1390537313',
 '1728011058',
 '1292569783',
 '1584307184',
 '1934533595',
 '20108415',
 '1133107813',
 '1967411628',
 '1355873349',
 '32284047',
 '1499115014',
 '1781934048',
 '11710160',
 '1705916422',
 '1010727183',
 '1487617489',
 '1279519421',
 '37256574',
 '1801554171',
 '1126310741',
 '1901891528',
 '37069188',
 '878378143',
 '1706029841',
 '1659563330',
 '1609433684',
 '37098004',
 '30938072',
 '1207253764',
 '32260073',
 '1108285231',
 '1924644034',
 '38391956',
 '32269733',
 '1040333531',
 '1650247686',
 '37941875',
 '1580864200',
 '1320390218',
 '13469576',
 '1341393737',
 '12783829',
 '1305176626',
 '11679364',
 '11707317',
 '1185481426',
 '1688133421',
 '32202042',
 '1130419307',
 '1514939124',
 '1837802607',
 '37525791',
 '1857521875',
 '1154124309',
 '1621296173',
 '1384470700',
 '1307835048',
 '11710847',
 '1645884170',
 '1066950219',
 '1226456242',
 '13321644',
 '19792442',
 '1711464605',
 '19882567',
 '11726653',
 '1885466106',
 '1433251190',
 '1730142162',
 '1931179940',
 '1480979852',
 '1060101453',
 '1831273227',
 '38305412',
 '1742177967',
 '1448537546',
 '19877737',
 '1292591534',
 '37185885',
 '1224469606',
 '13542746',
 '1672120714',
 '1049547557',
 '1119605388',
 '1926711875',
 '1772140077',
 '1212470050',
 '1764908312',
 '1203572380',
 '1705860023',
 '1923851495',
 '1800618953',
 '1308826860',
 '11845608',
 '12064600',
 '31896201',
 '1201043555',
 '1065930306',
 '1888066284',
 '1961540814',
 '957701774',
 '1389858469',
 '1030539253',
 '1141137916',
 '47916461',
 '1736989574',
 '1346291809',
 '1491540976',
 '11718583',
 '1361693886',
 '1389685968',
 '1286781898',
 '258029709',
 '1347429754',
 '1535927805',
 '1581231694',
 '1848770148',
 '11680226',
 '36262174',
 '36802965',
 '1499082136',
 '1673275044',
 '1441121091',
 '1366903580',
 '848321501',
 '11730042',
 '33499940',
 '1295981580',
 '1376511832',
 '1379308723',
 '1543458598',
 '1645629071',
 '21656860',
 '1846202559',
 '1327534325',
 '1697940428',
 '35781952',
 '1485534307',
 '1305195216',
 '1902703813',
 '11722762',
 '37003691',
 '1906165591',
 '1695162378',
 '658897525',
 '31155879',
 '1198374614',
 '38010707',
 '1263425600',
 '1817134114',
 '36771985',
 '1304420575',
 '1286235543',
 '1858594333',
 '1378067891',
 '1204459776',
 '1495347361',
 '1783887685',
 '1536502781',
 '1560525570',
 '35372688',
 '1120549775',
 '1633821940',
 '1879263018',
 '31936212',
 '1788766997',
 '1109525914',
 '21867596',
 '1495686510',
 '1183661719',
 '1903511796',
 '1697186775',
 '1508002933',
 '1164963003',
 '1708080025',
 '1198465868',
 '1488625963',
 '21037785',
 '1051733906',
 '1056844497',
 '37402764',
 '1735987846',
 '1469590264',
 '1513586832',
 '1836210120',
 '1487459290',
 '1630800917',
 '1010776488',
 '19882193',
 '1203453191',
 '35432638',
 '1087332427',
 '1049791619',
 '1075528481',
 '1771720857',
 '1060598083',
 '1485169197',
 '1199132262',
 '1878231328',
 '1974242355',
 '1544911772',
 '495182989',
 '1956591980',
 '1392526471',
 '38526674',
 '36003590',
 '83081035',
 '1826984139',
 '1675303081',
 '1867823297',
 '38969614',
 '895457986',
 '11700226',
 '35751409',
 '1744213648',
 '65729586',
 '21418931',
 '1432373629',
 '1103092572',
 '1044096368',
 '1967647240',
 '1345715158',
 '33972716',
 '887123043',
 '21693586',
 '1865631399',
 '13154695',
 '1867302217',
 '1616921844',
 '32548015',
 '1301235554',
 '38328122',
 '1030343098',
 '1006750348',
 '1790431579',
 '1640488466',
 '1653280910',
 '1297585187',
 '1832771562',
 '148179327',
 '11724463',
 '1255909485',
 '36963396',
 '13574087',
 '1067286803',
 '354614937',
 '1529976454',
 '1123489755',
 '1600727618',
 '1672413996',
 '1122254586',
 '35734492',
 '1573951163',
 '1570607237',
 '1720070048',
 '1165131753',
 '1975463492',
 '1582956498',
 '1222395691',
 '1772605537',
 '1001519803',
 '1946248827',
 '1614953667',
 '1114077752',
 '13358436',
 '1389565722',
 '1259933590',
 '34786487',
 '1870183298',
 '1135036261',
 '20384015',
 '1191020917',
 '38767161',
 '996334906',
 '11886505',
 '1067440345',
 '1343969288',
 '1400123055',
 '21037800',
 '1348101379',
 '1846214116',
 '1850375355',
 '1880997916',
 '1203337621',
 '36175042',
 '1111503809',
 '18485132',
 '1773013473',
 '1555782691',
 '1417591954',
 '83612604',
 '1873514629',
 '1099331965',
 '1797169863',
 '1771823300',
 '1230915639',
 '31363816',
 '1886342920',
 '1732344388',
 '1438978661',
 '1390537313',
 '1728011058',
 '1292569783',
 '1584307184',
 '1934533595',
 '20108415',
 '1133107813',
 '1967411628',
 '1355873349',
 '32284047',
 '1499115014',
 '1781934048',
 '11710160',
 '1705916422',
 '1010727183',
 '1487617489',
 '1279519421',
 '37256574',
 '1801554171',
 '1126310741',
 '1901891528',
 '37069188',
 '878378143',
 '1706029841',
 '1659563330',
 '1609433684',
 '37098004',
 '30938072',
 '1207253764',
 '32260073',
 '1108285231',
 '1924644034',
 '38391956',
 '32269733',
 '1040333531',
 '1650247686',
 '37941875',
 '1580864200',
 '1320390218',
 '13469576',
 '1341393737',
 '12783829',
 '1305176626',
 '11679364',
 '11707317',
 '1185481426',
 '1688133421',
 '32202042',
 '1130419307',
 '1514939124',
 '1837802607',
 '37525791',
 '1857521875',
 '1154124309',
 '1621296173',
 '1384470700',
 '1307835048',
 '11710847',
 '1645884170',
 '1066950219',
 '1226456242',
 '13321644',
 '19792442',
 '1711464605',
 '19882567',
 '11726653',
 '1885466106',
 '1433251190',
 '1730142162',
 '1931179940',
 '1480979852',
 '1060101453',
 '1831273227',
 '38305412',
 '1742177967',
 '1448537546',
 '19877737',
 '1292591534',
 '37185885',
 '1224469606',
 '13542746',
 '1672120714',
 '1049547557',
 '1119605388',
 '1926711875',
 '1772140077',
 '1212470050',
 '1764908312',
 '1203572380',
 '1705860023',
 '1923851495',
 '1800618953',
 '1308826860',
 '11845608',
 '12064600',
 '31896201',
 '1201043555',
 '1065930306',
 '1888066284',
 '1961540814',
 '957701774',
 '1389858469',
 '1030539253',
 '1141137916',
 '47916461',
 '1736989574',
 '1346291809',
 '1491540976',
 '11718583',
 '1361693886',
 '1389685968',
 '1286781898',
 '258029709',
 '1347429754',
 '1535927805',
 '1581231694',
 '1848770148',
 '11680226',
 '36262174',
 '36802965',
 '1499082136',
 '1673275044',
 '1441121091',
 '1366903580',
 '848321501',
 '11730042',
 '33499940',
 '1295981580',
 '1376511832',
 '1379308723',
 '1543458598',
 '1645629071',
 '21656860',
 '1846202559',
 '1327534325',
 '1697940428',
 '35781952',
 '1485534307',
 '1305195216',
 '1902703813',
 '11722762',
 '37003691',
 '1906165591',
 '1695162378',
 '658897525',
 '31155879',
 '1198374614',
 '38010707',
 '1263425600',
 '1817134114',
 '36771985',
 '1304420575',
 '1286235543',
 '1858594333',
 '1378067891',
 '1204459776',
 '1495347361',
 '1783887685',
 '1536502781',
 '1560525570',
 '35372688',
 '1120549775',
 '1633821940',
 '1879263018',
 '31936212',
 '1788766997',
 '1109525914',
 '21867596',
 '1495686510',
 '1183661719',
 '1903511796',
 '1697186775',
 '1508002933',
 '1164963003',
 '1708080025',
 '1198465868',
 '1488625963',
 '21037785',
 '1051733906',
 '1056844497',
 '37402764',
 '1735987846',
 '1469590264',
 '1513586832',
 '1836210120',
 '1487459290',
 '1630800917',
 '1010776488',
 '19882193',
 '1203453191',
 '35432638',
 '1087332427',
 '1049791619',
 '1075528481',
 '1771720857',
 '1060598083',
 '1485169197',
 '1199132262',
 '1878231328',
 '1974242355',
 '1544911772',
 '495182989',
 '1956591980',
 '1392526471',
 '38526674',
 '36003590',
 '83081035',
 '1826984139',
 '1657029013',
 '1299449726',
 '37912785',
 '1328337783',
 '1231109089',
 '1926429712',
 '1643374390',
 '33238438',
 '11839623',
 '1102942936',
 '1005495070',
 '1271618346',
 '37912230',
 '1562525784',
 '1160712189',
 '1908328156',
 '1034494104',
 '1609915935',
 '11678788',
 '18836449',
 '12107143',
 '1914870568',
 '36924292',
 '1770967295',
 '12915620',
 '1613373762',
 '20927353',
 '1776037148',
 '1921750340',
 '13419591',
 '1217767512',
 '36893601',
 '1820911105',
 '36465914',
 '1208377887',
 '1165104818',
 '1256111344',
 '1653433739',
 '1290591526',
 '11673211',
 '1105443717',
 '38737203',
 '1998347538',
 '1014025729',
 '34550318',
 '37837245',
 '18505540',
 '12838557',
 '1215151657',
 '1569736538',
 '1602300509',
 '11687518',
 '1936871865',
 '20623381',
 '33685119',
 '13150137',
 '37537313',
 '793407871',
 '35657272',
 '11725899',
 '1054314594',
 '31575986',
 '1926554735',
 '61244505',
 '1091174289',
 '1261546000',
 '1680847530',
 '1136980373',
 '1417514733',
 '21656422',
 '1712603119',
 '1287899904',
 '20694410',
 '1202715954',
 '37446016',
 '1055688781',
 '13129498',
 '1338225371',
 '37365742',
 '13080557',
 '1379166228',
 '1437178508',
 '1313967118',
 '1373989551',
 '35824520',
 '36538591',
 '1946588713',
 '36909534',
 '1845236311',
 '11856684',
 '35572263',
 '11725907',
 '11710893',
 '34006990',
 '812869774',
 '37278410',
 '13330315',
 '1148488047',
 '1376459277',
 '13505971',
 '1204470192',
 '107633518',
 '1374995918',
 '1080987735',
 '42783747',
 '1232387490',
 '38252334',
 '1591617232',
 '13410427',
 '1649170201',
 '20601213',
 '1601317880',
 '1216618207',
 '164280595',
 '36721497',
 '1961194724',
 '36470412',
 '1351592138',
 '11600048',
 '1544449209',
 '1127421435',
 '38232881',
 '1648407120',
 '1587528278',
 '1464999012',
 '33408380',
 '1372829918',
 '21362277',
 '1609486868',
 '1809466236',
 '1865802207',
 '20881962',
 '1716622269',
 '1554402024',
 '20798498',
 '1623822620',
 '1985529752',
 '32613811',
 '38555222',
 '1702628561',
 '1637343292',
 '31564452',
 '37997384',
 '1482078310',
 '1203544176',
 '1177888625',
 '965725656',
 '19882368',
 '38327984',
 '1159616641',
 '1325798341',
 '1851080812',
 '20631387',
 '1150149691',
 '1169550040',
 '38654935',
 '1581253302',
 '1610220930',
 '1365049906',
 '1045786490',
 '1324576148',
 '34178313',
 '1742195691',
 '34249769',
 '32602513',
 '472172486',
 '1150520764',
 '13517177',
 '37867681',
 '11818472',
 '1032109304',
 '1896940114',
 '1070527862',
 '33879353',
 '1613219033',
 '1526748736',
 '37996835',
 '18518437',
 '10976693',
 '1240960957',
 '1828224291',
 '32308138',
 '1001683359',
 '1051121579',
 '31168837',
 '1840458024',
 '20132822',
 '1945446361',
 '741700898',
 '1458630035',
 '1269345123',
 '1899944311',
 '292501040',
 '1705392665',
 '1737034074',
 '1754058199',
 '36170162',
 '1432555498',
 '1961533564',
 '31744281',
 '1182846928',
 '212256181',
 '38269378',
 '1462240358',
 '1228282259',
 '34646496',
 '1871469872',
 '1331772122',
 '19867390',
 '1415008843',
 '1066951526',
 '37420971',
 '1286991991',
 '1365918313',
 '36084418',
 '1712994319',
 '1664979789',
 '1842455561',
 '18557409',
 '33077999',
 '773592092',
 '1565757485',
 '1511230577',
 '1641417468',
 '31135242',
 '1549807378',
 '1520771786',
 '1017151589',
 '18509142',
 '1447938016',
 '19877616',
 '1393865544',
 '18509106',
 '34463139',
 '1803784882',
 '1477375915',
 '1117746938',
 '38229656',
 '1064310520',
 '1409475718',
 '20366586',
 '1681344490',
 '1570450695',
 '1183268711',
 '37765304',
 '1223475134',
 '1165718841',
 '13150134',
 '1913177197',
 '1819651426',
 '1344390184',
 '1068615402',
 '1925266618',
 '1855855409',
 '1714495950',
 '1136987923',
 '1251511748',
 '37441989',
 '1738666534',
 '11711941',
 '1683909619',
 '11723503',
 '12981417',
 '20724954',
 '1186273027',
 '35769705',
 '36391367',
 '1270115043',
 '1592691578',
 '13485962',
 '1666006755',
 '1216371715',
 '33647127',
 '19882374',
 '1970653518',
 '981579658',
 '1230269899',
 '1692479190',
 '1447487711',
 '1057786070',
 '1702659927',
 '37432843',
 '1102504151',
 '1190035871',
 '11725455',
 '11679506',
 '1605812660',
 '1517210526',
 '12789480',
 '1824038108',
 '18520281',
 '11678576',
 '1577324436',
 '1913718125',
 '36364192',
 '1633635130',
 '11684134',
 '584533223',
 '1648858709',
 '798199268',
 '1724662353',
 '38692429',
 '11725390',
 '36449091',
 '1793289940',
 '13117552',
 '1116307470',
 '1567548239',
 '13320884',
 '1642364450',
 '38758218',
 '11585300',
 '11680234',
 '1667563239',
 '13124988',
 '1975249052',
 '13093133',
 '35807289',
 '1756361063',
 '13201580',
 '1069165695',
 '1942871806',
 '1557362171',
 '1985261697',
 '1887318928',
 '1561853968',
 '1137960902',
 '35507086',
 '1782110563',
 '1302783006',
 '11717080',
 '1297540314',
 '37609477',
 '1738395785',
 '280965665',
 '13506631',
 '1205423903',
 '1445506871',
 '11721969',
 '32224068',
 '20451517',
 '1142373052',
 '1869473534',
 '1891523050',
 '1006524862',
 '38733965',
 '32406749',
 '1825152608',
 '21608119',
 '37020894',
 '1723660386',
 '1239493658',
 '37161914',
 '1157778696',
 '1390786893',
 '1109069328',
 '38274774',
 '31139908',
 '37604188',
 '37891358',
 '36680497',
 '1713256632',
 '11678575',
 '440130507',
 '11477316',
 '633681210',
 '1008380466',
 '1044102504',
 '1561132957',
 '38781115',
 '1943469752',
 '35742830',
 '36508403',
 '1026918108',
 '1444125727',
 '1180508014',
 '18435700',
 '97837585',
 '1121103615',
 '1791580858',
 '565992128',
 '18435384',
 '1257710414',
 '1626305988',
 '1670318285',
 '778300177',
 '11874037',
 '35215752',
 '1272810778',
 '13400580',
 '36636541',
 '37820314',
 '1987992107',
 '1377698986',
 '1938359158',
 '1734407316',
 '1913182999',
 '1302070467',
 '1863884392',
 '1927179824',
 ...]

In [29]:
data['len'] = data['review'].apply(lambda x : len(x))
data[data['len'] == 0]

          restaurant      tag         url review rating  len
82              하치타치      브런치  1261129627     []    NaN    0
191       시카고라운지 일원점    맥주,호프  1705837285     []    NaN    0
221              예소담       한식    37817387     []    NaN    0
222     Amy's coffee       카페  1558713430     []    NaN    0
226             가람족쌈    족발,보쌈  1923047733     []    NaN    0
235    7080LIVEMUSIC    맥주,호프    20632732     []    NaN    0
238             포차친구     포장마차  1515012612     []    NaN    0
251       너를 위해 준비했어   도시락,컵밥  1090986848     []    NaN    0
259         오늘은 치킨이닭   치킨,닭강정  1208042115     []    NaN    0
179             엘스웨어   카페,디저트  1117869357     []    NaN    0
293               부르   바(BAR)  1157741684     []    NaN    0
217       비엔에이엔터프라이즈       카페    11634645     []    NaN    0
246          강호한방삼계탕   백숙,삼계탕  1130048233     []    NaN    0
255        김복남맥주가맹본부       한식  1188028222     []    NaN    0
259           허니스테이크       김밥  1782046688     []    NaN    0
263       데이브레드 수서역점     베이커리  1881692512     []    NaN    0
264          빈수단체도시락   도시락,컵밥    32548359     []    NaN    0
186         리리플라워케이크    케이크전문  1159907238     []    NaN    0
195             올비키친      비빔밥  1645802562     []    NaN    0
202            김밥사장님       김밥  1569140972     []    NaN    0
205              참바른  프랜차이즈본사    12374674     []    NaN    0
224            판판우육면      중식당  1238548175     []    NaN    0
230  세상에 이런 돈까스는 없었다      일식당  1682533313     []    NaN    0
237           하자매 식당   도시락,컵밥  1102705533     []    NaN    0
238              도리힐   카페,디저트  1983754834     []    NaN    0
240             서울식당       한식  1486239350     []    NaN    0
241            대판 고기       야식  1972561810     []    NaN    0
243    서백자와허규일 익스프레스       한식  1819891798     []    NaN    0
245         꼬꼬시티익선닭집   치킨,닭강정  1578034774     []    NaN    0
247         도리힐 볶음덮밥       한식  1335479984     []    NaN    0
248          양우푸드시스템       한식  1295889680     []    NaN    0
252        카페인러쉬 세곡점   카페,디저트  1280976059     []    NaN    0

In [9]:
data = data.drop_duplicates('restaurant') # restaurant

In [10]:
data[data['restaurant'] == '텍사스데브라질 압구정점']

     restaurant     tag         url       review
0  텍사스데브라질 압구정점  스테이크,립  1675303081  [4.34, 999]